<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Availability Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/votepage.css" type="text/css" /> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/votepage.js"></script>

    <!--Calendar links LINK TO FILES -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.css"/>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.js"></script>
  </head>

  <body>
    <section class="centered">
      <form id="confirm_avail_form" action="/:event_id/votes" action="POST">
        <div>
          <label id='guestName'><b>Your name</b></label>
          <input type="text" placeholder="Let the fam know you're going!" name="guestName">
        </div>
        <div>
          <label id='email'><b>Email</b></label>
          <input id="email-input" type="email" placeholder="Email - (not required)" name="email">
        </div>
        <div><input type='submit' id='confirm_avail' value='Confirm availability'></div>
      </form>
    </section>
    <!-- Editing function buttons, hidden until triggered -->
    <div><button hidden type='button' id='edit_avail'>Edit availability</button></div>
    <!--Cancel and confirm buttons, hidden until 'edit' button is clicked -->
    <div><button hidden type='button' id='cancel_edit'>Cancel changes</button></div>
    <div><button hidden type='button' id='confirm_changes'>Confirm changes</button></div>
    <div><button hidden type='button' id='edit_event'>Edit event</button></div>
    <div><button hidden type='button' id='confirm_event_changes'>Confirm event changes</button></div>
    <h3 class="centered" id='event_eventName'><%= eventData.event.name %></h3>
    <h2 class="centered">What date(s) work for you?</h2>
    <div class='invite' id='invite'>
      <p>special URL</p>
      <button type='button' id='invite_button'>Invite more peeps</button>
    </div>
    <div id='calendar'></div>
    <!--Renders events on calendar-->
  </body>
</html>




















