<% include ./parts/_head %>
<% include ./parts/_header %>

<div class="container-flex-wrap med-margin-top">
  <div id='calendar'></div>

  <section id="event-edit-form">
    <form id="confirm_avail_form" action="/:event_id/votes" action="POST">
      <div class="form-input focused">
        <p>Your Name</p><p>:</p>
        <input type="text" placeholder="Let the fam know you're going!" name="guestName">
      </div>
      <div class="form-input">
        <p>Your Email</p><p>:</p>
        <input id="email-input" type="email" placeholder="Email (not required)" name="email">
      </div>

      <div class="button"><div id='confirm_avail' value='Confirm availability'>Confirm</div></div>
      <div class="button"><div id='fakeconfirm'>Submit</div></div>
    </form>
  </section>
</div>

<div class="button"><div id='edit_avail'>Edit availability</div></div>

<div class="button"><div id='cancel_edit'>Cancel changes</div></div>

<div class="button"><div id='confirm_changes'>Confirm changes</div></div>

<div class='invite' id='invite'>
  <p>special URL (placeholder)</p>
  <button type='button' id='invite_button'>Invite more peeps</button>
</div>

<div id="edit-event">
  <div>Edit Event</div>
</div>

<% include ./parts/_footer %>
